# Ignore Python virtual environments
venv/
.venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints/

uv.lock
notes.md
app*/pages/*_.py

# Claude Code local settings
.claude/settings.local.json